.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

div#contact {
  ul {
    padding: 0;
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
    }
  }
}

#motd {
  text-align: center;
  color: #ff6334;
}
