<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || 'Sam Lachance' %></title>
    <%= stylesheet_link_tag 'normalize' %>
    <%= stylesheet_link_tag 'site' %>
    <%= javascript_include_tag 'motd' %>
  </head>
  <body>
    <%= yield %>
    <%= partial 'end_of_page_javascripts' %>
  </body>
</html>
