---
title: Sam Lachance
---
<div class="wrapper">
  <h1>Sam Lachance</h1>
  <div id="contact">
    <ul>
      <li><a href="https://gitlab.com/samlachance">Gitlab</a></li>
      <li><a href="mailto:contact@sam.samlachance.com">Contact</a></li>
    </ul>
  </div>
  <div id="motd" data-expire-at="2019-11-02T00:00:00">
    <p>Happy Halloween!</p>
  </div>
</div>
